<mat-nav-list >
    <div class="profile-card">
        <div class="header">
            <h3>Luiz Gonzaga</h3>
        </div>
        <img src="https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&fm=jpg&w=200&fit=max" alt="Soufiane FADIL">
        <h4>luizneto@gmail.com</h4>
        <h5>Salesman</h5>
    </div>

    <mat-divider></mat-divider>
    <div class="mat-list">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
       Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">
        <mat-icon>list</mat-icon>
        Gerenciar Produtos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/string">
        <mat-icon>warning</mat-icon>
        Tarefa 01
    </a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Ferramentas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contatos
    </a>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Grupos
    </a> -->
    </div>
</mat-nav-list>